@page
@model IndexModel
@{
    ViewData["Title"] = "Location Checkins";
}

@{ Html.RenderPartial("_CreateTemplate", Model.CreateModel); }

<table class="table table-hover">
    <thead>
        <tr>
            <th>Member</th>
            <th>Location</th>
            <th>Time</th>         
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model.LocationCheckins)
        {
            <tr>
                <td>@p.Item.Member.FirstName @p.Item.Member.LastName</td>
                <td>@p.Item.Location.LocationName</td>
                <td>@p.Item.CheckinCompleted</td>        
            </tr>
        }
    </tbody>
</table>