@page "{id:guid}"
@model DeleteModel

@{
    ViewData["Title"] = "Delete Location";
}


<h1>Delete Location</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input asp-for="Id" type="hidden" />

            <p>Are you sure</p>
        
            <div>
                <a class="btn btn-default" asp-page="/Locations/Index">Back</a>
                <button class="btn btn-danger" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>