@page
@model IndexModel
@{
    ViewData["Title"] = "Locations";
}

@{ Html.RenderPartial("_CreateTemplate", Model.CreateModel); }

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model.Locations)
        {
            <tr>
                <td>@p.Item.LocationId</td>
                <td>@p.Item.LocationName</td>  
                <td>
                    <a asp-page="/Locations/Update" asp-route-id="@p.Item.RowId">edit</a>
                    <a asp-page="/Locations/Delete" asp-route-id="@p.Item.RowId">delete</a>
                </td>      
            </tr>
        }
    </tbody>
</table>